.main-containerr {
    text-align: center;
    font-size: 1rem;
    background-color: #CE2829;
    color:#FAF7F2;
    align-items: center;
    position:relative;
    display: flex;
    flex-direction: column;
}
.text span{
    font-family: "Satisfy";
    font-size: 1.5rem;
    color: #FDC913;
}
.text{
    font-family: "Barlow";
    font-size: 3rem;
    position: absolute;
    margin: auto;
    display:inline-block;
}
.img{
    position:absolute;
    display:flex;
}