.main-containerr {
    text-align: center;
    font-size: 1rem;
    background-color: #CE2829;
    color:#FAF7F2;
    align-items: center;
    position:relative;
    display: flex;
    flex-direction: column;
}
.text span{
    font-family: "Satisfy";
    font-size: 1.5rem;
    color: #FDC913;
}
.text{
    font-family: "Barlow";
    font-size: 3rem;
    position: absolute;
    margin: auto;
    display:inline-block;
}
.img{
    position:absolute;
    display:flex;
}
.nav-bar{
    font-size: 1.25rem;
    position:relative;
    top:59rem;
    color:#FAF7F2;
    justify-content: space-around;
    width: 90%;
    height: 5vh;
    display: flex;
}
.nav-bar a {
    text-decoration: none;
    color: #292929;
}
.banners{
    width: 100%;
    height: 50vh;
    background-color: #FAF7F2;
    position:relative;
    top:60rem;
}
.banner{
    width: 30%;
    height: 25vh;
    border-radius: 8%;
}
.c1{
    background-color: #CE2829;
    position:relative;
    top: 5rem;
}
