.home-container{
    display: flex;
    flex-direction: column;
}
.home-container-main {
    text-align: center;
    font-size: 1rem;
    background-color: #CE2829;
    color:hsl(38, 44%, 96%);
    width: 100vw;
    min-height: 80vh;
    background-image: url("../mvp-banner.png");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container-main .text span{
    font-family: "Satisfy";
    font-size: 1.5rem;
    color: #FDC913;
}
.home-container-main .text{
    font-family: "Barlow";
    font-size: 3rem;
}
.nav-bar, .second-nav-bar{
    font-size: 1rem;
    color:#FAF7F2;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    font-weight: bold;
}
.nav-bar>a:hover{
    color:#CE2829;
}
.nav-bar>a, .second-nav-bar>a{
    text-decoration: none;
    color: #292929;
    width: 10rem;
}
.second-nav-bar>a:hover{
    color:#FAF7F2;
    background-color: #292929;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 30px;
}
.home-container-second{
    background-color: #FAF7F2;
}
.first-banners{
    width: 100%;
    height: 50vh;
}
.banner{
    width: 30%;
    height: 25vh;
    border-radius: 8%;
}
.c1{
    background-color: #CE2829;
    top: 5rem;
}
 
